<form #f="ngForm" (ngSubmit)="submit(f)">
    <div class="form-group">
        <label for="firstname">Firstname</label>
        <input
            minlength="3"
            maxlength="15"
            pattern="[A-Za-z]*"
            required 
            ngModel 
            name="firstname" 
            type="text"
            #firstname="ngModel"
            (change)="log(firstname)" 
            id="firstname" 
            class="form-control">
        <div 
            class="alert alert-danger"
            *ngIf="firstname.touched && !firstname.valid">
            <div *ngIf="firstname.errors?.['required']">First Name is required</div>
            <div *ngIf="firstname.errors?.['minlength']">Firstname cannot be lower than 3 characters</div>
            <div *ngIf="firstname.errors?.['maxlength']">Firstname must be 15 characters</div>
            <div *ngIf="firstname.errors?.['pattern']">Firstname must contain only characters</div>
        </div>
    </div>
    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea
            ngModel
            name="message"
            #message="ngModel" 
            id="comment" 
            cols="30" 
            rows="10" 
            class="form-control">

        </textarea>
    </div>
    <div class="checkbox">
        <label for="">
            <input
                ngModel
                name="isAgreed"
                #isAgreed="ngModel" 
                type="checkbox">
                I agree with Terms & Conditions
        </label>
    </div>
    <div class="form-group">
        <label for="contactMethod"></label>
        <select 
            ngModel 
            name="contactMethod" 
            id="contactMethod" 
            class="form-control">
                <option value=""></option>
                <option *ngFor="let method of contactMethods" [value]="method.id">
                    {{method.name}}
                </option>
        </select>
    </div>
    <div class="radio" *ngFor="let method of contactMethods">
        <label for="">
            <input 
                type="radio" 
                [value]="method.id" 
                ngModel 
                name="contactMethod">
                {{method.name}}
        </label>
    </div>
    <button class="btn btn-primary">Submit</button>
</form>

<p>{{f.value | json}}</p>
